* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 48px; }

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px; }

a {
  text-decoration: none; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Oswald', sans-serif;
  color: #000000;
  font-style: normal;
  background-color: #fff; }

img {
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden; }

.page-header {
  width: 320px;
  margin: 0 auto;
  position: relative; }

.page-logo__wrapper {
  width: 280px;
  margin: 0 auto; }

.page-header__wrapper {
  vertical-align: middle;
  width: 280px;
  margin: 0 auto;
  min-height: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline; }

.page-header__logo {
  width: 200px;
  height: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.main-nav__button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: #fff; }

.main-nav--closed .main-nav__button::before {
  content: '';
  position: absolute;
  top: 24px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: #000;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000; }

@media (min-width: 768px) {
  .page-header {
    width: auto;
    border-bottom: none; }
  .page-logo__wrapper {
    margin: 0;
    width: 192px; }
  .page-header__wrapper {
    width: 708px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start; }
  .page-header__logo > img {
    display: none; }
  .page-header__logo-image {
    width: 173px; } }

@media (min-width: 1220px) {
  .page-header {
    background-image: url("../../src/assets/index-background-desktop.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat; }
  .page-header__wrapper {
    width: 1220px;
    justify-content: space-between;
    z-index: -1; } }

.main-nav {
  width: 320px; }

.main-nav__wrapper {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  width: 280px;
  margin: 0 auto; }

.site-list__item {
  font-size: 20px;
  line-height: 20px;
  padding: 23px 0;
  vertical-align: middle;
  border-bottom: 1px solid #e6e6e6;
  border-left: none;
  border-right: none; }
  .site-list__item:first-of-type {
    border-top: 1px solid #e6e6e6; }
  .site-list__item a {
    color: #000;
    text-decoration: none; }

@media (min-width: 768px) {
  .main-nav {
    width: 516px; }
  .main-nav__wrapper {
    width: 516px;
    margin-left: 75px; }
  .main-nav__button {
    display: none; }
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 516px;
    margin: 0;
    padding: 0;
    font-weight: normal; }
    .main-nav__list a {
      font-size: 18px; }
  .site-list__item--active {
    position: relative; }
    .site-list__item--active::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 10px;
      left: 0;
      background-color: #68b738; }
  .site-list__item {
    margin-right: 35px;
    border-bottom: none; } }

@media (min-width: 1220px) {
  .main-nav__list a {
    color: #ffffff; }
  .site-list__item--active::after {
    background-color: #fff; } }

.page-main {
  width: 320px;
  margin: 0 auto;
  background-image: url("../../src/assets/index-background-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 0; }

.page-main__wrapper {
  margin: 0 auto;
  width: 280px;
  background-image: url("../../src/assets/index-can-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 170px; }

.page-main__title {
  padding-top: 25px;
  font-size: 36px;
  color: #ffffff;
  font-weight: normal;
  line-height: 36px;
  text-align: center; }

.page-main__text {
  padding-top: 18px;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center; }

.page-main__button {
  margin-top: 300px; }

.page-main__program {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 25px;
  padding-top: 22px;
  background-color: #f2f2f2; }

.program-example__img {
  margin-left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  transform: scaleX(1); }

.program-example__title {
  margin-left: 20px;
  font-size: 24px;
  text-transform: uppercase; }

.program-example__text {
  font-family: 'Arial';
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
  margin: 20px 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #d9d9d9; }

.program-example__link {
  font-size: 16px;
  padding: 10px 0;
  position: relative;
  color: #000;
  margin-left: 20px;
  text-transform: uppercase;
  text-decoration: none; }
  .program-example__link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../src/assets/arrow-right.svg");
    background-position: 0 0; }

.program-example__arrow {
  margin-left: 10px; }

@media (min-width: 768px) {
  .page-main {
    width: auto;
    background-image: none; }
  .page-main__wrapper {
    min-height: 860px;
    width: 708px;
    background-image: none;
    background-image: url("../../src/assets/index-can-tablet.jpg");
    background-position: 0 200px;
    background-repeat: no-repeat;
    z-index: -1; }
  .page-main__title {
    color: #000000;
    width: 427px;
    font-size: 60px;
    text-align: left;
    line-height: 60px;
    margin-left: 90px; }
  .page-main__text {
    color: #000000;
    text-align: left;
    margin-left: 90px;
    font-size: 20px;
    line-height: 20px; }
  .page-main__button.button {
    width: 245px;
    margin: 0;
    margin-left: 90px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 45px; }
  .page-main__programs {
    margin-top: 570px; }
  .page-main__program {
    display: flex;
    flex-wrap: wrap;
    padding: 75px 60px 60px 40px; }
  .program-example__title {
    width: 300px;
    font-size: 36px;
    line-height: 36px;
    margin: 0; }
  .program-example__img {
    order: 2;
    width: 200px;
    height: 200px;
    margin-top: -30px; }
  .program-example__text {
    box-sizing: content-box;
    margin: 0;
    margin-top: 30px;
    width: 380px;
    order: 1;
    align-self: flex-start;
    border: none; }
  .program-example__link {
    order: 3; }
  .program-example__arrow {
    order: 3; }
  .program-example__link {
    font-size: 20px;
    line-height: 20px;
    margin-left: 0; }
  .program-example__arrow {
    height: 30px; } }

@media (min-width: 1220px) {
  .page-main {
    background-image: url("../../src/assets/index-can-desktop.png"), url("../../src/assets/index-background-desktop.jpg");
    background-position: 60% 50px, 100% -67px;
    background-repeat: no-repeat; }
  .page-main__wrapper {
    width: 1220px;
    background-image: none;
    background-position: 53% 30px;
    background-repeat: no-repeat; }
  .page-main__title {
    padding-top: 70px; }
  .page-main__program {
    width: 570px; }
    .page-main__program .program-example__img {
      order: 0;
      width: 100px;
      height: 100px; }
  .page-main__programs {
    width: 1220px;
    margin: 0 auto;
    margin-top: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
  .program-example__title {
    width: auto;
    margin-left: 60px;
    margin-top: -35px; }
  .program-example__text {
    width: 465px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px; }
  .program-example__link {
    margin-left: 20px; } }

.button {
  width: 100%;
  padding: 13px 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'Oswald';
  color: #ffffff;
  background-color: #68b738;
  border: none;
  cursor: pointer; }

.faq-page {
  width: 320px;
  margin: 0 auto; }

.faq-page__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px; }

.faq-page__title {
  margin-top: 30px;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 30px; }

.faq-list__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px; }
  .faq-list__item span {
    display: none; }

.faq-list__item-image {
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: #68b738;
  margin-right: 20px; }

.faq-list__item-text {
  font-size: 14px;
  line-height: 18px;
  width: 200px;
  font-family: 'Arial';
  color: #444444; }

@media (min-width: 768px) {
  .faq-page {
    width: auto;
    border-bottom: 1px solid #e6e6e6; }
  .faq-page__wrapper {
    width: 708px; }
  .faq-page__title {
    font-size: 60px;
    line-height: 60px; }
  .faq-page__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 80px; }
  .faq-list__item {
    position: relative;
    width: 250px;
    padding: 60px 0; }
    .faq-list__item span {
      display: block;
      font-size: 281px;
      position: absolute;
      bottom: 90px;
      right: 40px;
      color: #f2f2f2;
      z-index: -1; }
  .faq-list__item-text {
    margin-top: 30px; } }

@media (min-width: 1220px) {
  .faq-page {
    border: none; }
  .faq-page__wrapper {
    width: 1220px; }
  .faq-page__title {
    margin-top: 50px; }
  .faq-page__list {
    padding-right: 0; }
  .faq-list__item {
    width: 245px; }
    .faq-list__item span {
      bottom: 105px; }
  .faq-list__item-text {
    width: 245px;
    font-size: 16px;
    line-height: 24px; } }

.example-page {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2; }

.example-page__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 30px; }

.example-page__title {
  padding: 30px 0;
  font-size: 36px;
  font-weight: normal; }

.example-page__text {
  font-family: 'Arial';
  color: #444444;
  font-size: 14px;
  line-height: 18px; }

.example-page__slogan {
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center; }

.example-page__properties {
  margin-top: 20px;
  margin-bottom: 30px; }

.example-page__picture {
  margin-top: 40px; }

.example-page__picture--after {
  display: none; }

.example-page__picture-toggles {
  display: flex;
  text-transform: uppercase;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto; }
  .example-page__picture-toggles .picture-toggles__field {
    position: relative;
    min-width: 85px;
    height: 14px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    border-radius: 5px; }
    .example-page__picture-toggles .picture-toggles__field::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 35px;
      height: 6px;
      background-color: #68b738;
      border-radius: 5px; }

@media (min-width: 768px) {
  .example-page {
    width: auto;
    background-color: #fff; }
  .example-page__wrapper {
    position: relative;
    width: 708px;
    margin: 0 auto; }
  .example-page__title {
    font-size: 60px;
    line-height: 60px; }
  .example-page__text {
    font-size: 16px;
    line-height: 24px; }
  .example-page__properties {
    width: 384px; }
  .picture-toggle {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 5px;
    border-bottom: dotted 1px #bebebe; }
  .example-page__slogan {
    position: absolute;
    top: 200px;
    right: 0;
    font-size: 20px;
    line-height: 20px;
    width: 192px;
    float: right;
    text-align: right; }
  .example-page__picture {
    display: flex;
    flex-wrap: wrap; }
  .example-page__picture--after {
    display: block;
    width: 354px; }
  .example-page__picture-toggles {
    width: auto; }
    .example-page__picture-toggles .picture-toggles__field {
      width: 444px;
      height: 6px;
      background-color: #dcdcdc;
      border: none;
      margin: 0 20px; }
      .example-page__picture-toggles .picture-toggles__field::before {
        left: 50%;
        top: -220%;
        width: 35px;
        height: 35px;
        margin-left: -17px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #d2d2d2; }
      .example-page__picture-toggles .picture-toggles__field:after {
        content: '';
        position: absolute;
        background-color: #68b738;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        top: 50%;
        left: 50%;
        margin-left: -2px;
        margin-top: -2px; } }

@media (min-width: 1220px) {
  .example-page__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    margin-bottom: 20px; }
  .example-page__title {
    width: 570px;
    flex-grow: 1; }
  .example-page__text {
    width: 430px; }
  .example-page__properties {
    margin-top: 60px; }
  .example-page__slogan {
    position: relative;
    width: 325px;
    left: 0;
    top: 0;
    float: left;
    width: auto; }
    .example-page__slogan span {
      margin-left: 77px; }
  .example-page__picture {
    width: 609px;
    margin-top: -70px; }
  .example-page__picture--before {
    width: 255px; }
  .example-page__picture--after {
    width: 255px; }
  .example-page__picture-toggles {
    margin-left: -35px; } }

.properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.properties__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 55px;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: 3px;
  text-align: center; }

.properties__item-text {
  position: absolute;
  width: 65px;
  bottom: -13px;
  padding: 0 10px;
  text-transform: lowercase;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .properties__item {
    width: 162px;
    border: 1px solid #cdcdcd; }
  .properties__item-text {
    background-color: #fff;
    width: auto;
    top: 46px; }
  .properties__item-title {
    font-size: 30px;
    line-height: 37px; } }

@media (min-width: 1220px) {
  .properties__item-text {
    font-size: 14px;
    line-height: 14px; } }

.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2; }

.page-footer__wrapper--top {
  align-items: center;
  padding: 0 20px;
  width: 320px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 25px;
  background-color: #fff; }

.page-footer__wrapper--bottom {
  margin-top: -25px; }

.page-footer__title {
  width: 120px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px; }

.page-footer__adress {
  color: #444444;
  font-family: 'Arial';
  width: 135px;
  font-size: 14px;
  line-height: 20px; }

.page-footer__wrapper--top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 25px; }

.page-footer__logo {
  margin: 0 auto;
  margin-top: 20px;
  width: 280px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9; }

.page-footer__socials {
  width: 180px;
  padding: 20px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: center; }

.social__list-link svg path {
  fill: #666666; }
  .social__list-link svg path:last-of-type {
    stroke: #666666;
    fill: #fff; }

.footer__title--bottom {
  border-top: 1px solid #d9d9d9;
  width: 280px;
  margin: 0 auto; }

.footer__title-text--bottom {
  font-family: 'Arial';
  color: #444444;
  font-size: 16px;
  line-height: 16px;
  margin-top: 20px; }

@media (min-width: 768px) {
  .page-footer {
    width: auto; }
  .page-footer__wrapper--top {
    width: 708px;
    background-color: #f2f2f2;
    margin: 0 auto;
    padding-bottom: 0; }
  .page-footer__title {
    width: 200px;
    padding: 60px 0;
    font-size: 20px;
    line-height: 25px; }
  .page-footer__adress {
    width: 170px;
    font-size: 16px;
    line-height: 20px; }
  .footer-map {
    width: auto;
    height: 400px; }
  .page-footer__wrapper--bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto; }
  .page-footer__logo {
    padding: 30px 0;
    width: auto; }
  .page-footer__socials {
    margin-top: 20px;
    padding: 30px 0; }
  .footer__title--bottom {
    padding: 30px 0;
    width: auto;
    border: none; }
  .page-footer__map {
    display: flex;
    justify-content: center;
    width: 100%; }
    .page-footer__map .footer-map {
      width: auto; } }

@media (min-width: 1220px) {
  .page-footer {
    position: relative; }
  .footer-map {
    width: 100%; }
  .page-footer__wrapper--top {
    position: absolute;
    left: 300px;
    top: 100px;
    width: 570px;
    background-color: #fff; }
  .page-footer__wrapper--bottom {
    margin: 0 auto;
    width: 1220px; } }

.page-secondary {
  width: 320px;
  margin: 0 auto; }

.page-secondary__wrapper {
  width: 280px;
  margin: 0 auto; }

.page-secondary__title {
  text-align: left;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px; }

.page-secondary__catalog-more {
  padding-bottom: 20px;
  width: 280px;
  border-bottom: 1px solid #ededed; }

.catalog__item {
  width: 280px;
  height: 210px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid #ededed; }
  .catalog__item:last-of-type {
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed; }

.catalog__item-image {
  width: 140px;
  height: 140px; }

.catalog__item-description {
  padding-top: 20px;
  width: 140px;
  height: 140px;
  vertical-align: middle; }
  .catalog__item-description table {
    font-size: 12px;
    line-height: 16px;
    font-family: 'Arial';
    padding: 0;
    margin: 0; }
    .catalog__item-description table tbody tr {
      padding: 0;
      margin: 0;
      width: 140px;
      display: flex;
      justify-content: space-between; }
      .catalog__item-description table tbody tr td {
        padding: 0;
        margin: 0; }

.catalog__item-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  width: 80px;
  margin-bottom: 18px; }

.catalog-more__title {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  color: #111111;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 10px; }
  .catalog-more__title::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 125px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3; }
  .catalog-more__title::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 125px;
    width: 30px;
    height: 2px;
    transform: rotate(-90deg);
    background-color: #d3d3d3; }

.catalog-more__text {
  font-family: 'Arial';
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  margin-bottom: 22px; }

.catalog-more__button {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #444444; }

@media (min-width: 768px) {
  .page-secondary {
    width: auto; }
  .page-secondary__wrapper {
    width: 708px; }
  .page-secondary__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 30px; }
  .catalog__item {
    position: relative;
    width: 324px;
    height: 431px;
    margin-top: 140px;
    background-color: #f2f2f2; }
  .catalog__item:nth-of-type(2n) .catalog__item-image {
    top: -80px; }
  .catalog__item:last-of-type {
    background-color: #fff; }
    .catalog__item:last-of-type .catalog-more__title {
      font-size: 20px;
      line-height: 20px;
      width: 179px;
      margin-top: 100px;
      padding: 30px 0; }
      .catalog__item:last-of-type .catalog-more__title::before {
        width: 60px;
        left: 60px; }
      .catalog__item:last-of-type .catalog-more__title::after {
        width: 60px;
        left: 60px; }
  .catalog__item-text {
    width: 135px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: -30px;
    margin: 0 auto;
    margin-bottom: 10px; }
  .catalog__item-description {
    margin: 0 auto;
    padding-top: 0;
    width: 255px; }
    .catalog__item-description table {
      font-size: 16px;
      line-height: 16px; }
      .catalog__item-description table tbody tr {
        width: 255px;
        padding: 5px 0;
        border-bottom: 1px solid #cdcdcd; }
  .catalog__item-image {
    position: relative;
    width: 300px;
    top: -40px;
    margin: 0 auto;
    text-align: center; }
  .page-secondary__catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .catalog-item__button {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 30px; }
  .page-secondary__catalog-more {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 324px;
    height: 431px;
    border: 1px solid #e6e6e6; }
  .catalog-more__text {
    width: 170px;
    font-size: 16px;
    margin: 0 auto;
    margin-top: -80px;
    margin-bottom: 10px; }
  .catalog-more__button {
    width: 260px;
    margin: 0 auto; } }

.catalog-advance__wrapper {
  width: 280px;
  margin: 0 auto; }

.catalog-advance__title {
  position: relative;
  margin-top: 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: #111111;
  padding-bottom: 30px;
  border-bottom: 1px solid #cdcdcd; }
  .catalog-advance__title::after {
    content: '';
    position: absolute;
    width: 33px;
    height: 3px;
    right: 0;
    top: 15px;
    background-color: #68b738; }

.catalog-advance__list {
  margin-top: 15px; }

.advance__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd; }

.advance__item-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  margin-top: 15px;
  width: 100%;
  color: #222222; }

.advance__item-description {
  font-family: 'Arial';
  line-height: 14px;
  font-size: 14px;
  margin-top: 10px;
  color: #444444; }

.advance__item-price {
  font-family: 'Arial';
  line-height: 14px;
  font-size: 14px;
  margin-top: 10px;
  color: #444444; }

.advance__item-button {
  margin-top: 15px; }

.catalog-advance__gift {
  position: relative;
  background-image: url("../../src/assets/gift-photo-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  margin-top: 30px; }
  .catalog-advance__gift svg {
    position: relative;
    margin-top: 65px;
    margin-left: 110px;
    width: 60px;
    height: 60px; }
    .catalog-advance__gift svg path {
      fill: white; }

.catalog-advance__gift-text {
  font-family: 'Arial';
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  margin-top: 50px;
  color: #ffffff;
  width: 170px;
  text-align: center; }

@media (min-width: 768px) {
  .catalog-advance__wrapper {
    width: 708px; }
  .catalog-advance__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 35px;
    border-bottom: none; }
    .catalog-advance__title::after {
      width: 300px;
      top: 24px; }
  .advance__item-title {
    align-items: baseline;
    font-size: 20px;
    line-height: 20px;
    width: 190px; }
  .advance__item {
    padding: 25px 35px;
    border: 1px solid #d9d9d9;
    border-bottom: none; }
    .advance__item:last-of-type {
      border-bottom: 1px solid #d9d9d9; }
  .advance__item-description {
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px; }
  .advance__item-price {
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px; }
  .catalog-advance__gift {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../src/assets/gift-photo-tablet.png");
    margin: 70px 0; }
  .catalog-advance__gift-text {
    text-align: left;
    margin-left: 250px;
    margin-top: 64px;
    right: 0; } }

/*# sourceMappingURL=main.css.map */
